@import "./mixins/_mixins.scss";

@media screen and (max-width: $phone) {
  .burger-menu {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    @include same-size(30px);
    cursor: pointer;
    z-index: 100;

    &.open {
      span {
        background: transparent;

        &::before {
          top: 0;
          transform: rotate(45deg);
        }

        &::after {
          top: 0;
          transform: rotate(-45deg);
        }
      }
    }

    span {
      @include buger-property();
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;

      &::before {
        @include buger-property-pseudo-el(top);
      }

      &::after {
        @include buger-property-pseudo-el(bottom);
      }
    }
  }
}
