.list-product {
  position: relative;
  display: flex;
  justify-content: center;
  column-gap: 20rem;
  background: rgb(248, 248, 248);
  margin: 2rem 0;
  padding: 3rem;

  img {
    width: 25rem;
    border-radius: 50%;
  }

  .infos-content {
    h3 {
      font-size: 3rem;
      font-weight: 500;
      margin: 3rem 0 2rem;
    }

    p {
      font-weight: 300;
      font-size: 2rem;
    }
  }

  button {
    position: absolute;
    @include same-size(3rem);
    font-size: 1.5rem;
    line-height: 0.75em;
    padding: 0;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    right: 3rem;
    transition: 0.3s;

    &:hover {
      background: red;
      color: white;
    }
  }
}
