.about-container {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 6rem);
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

  .left-content,
  .right-content {
    width: 50%;
  }

  .left-content {
    h2 {
      width: 100%;
      color: #c16baa;
    }
    .desc {
      margin: 5rem 0;
      text-align: justify;
    }
  }

  .right-content {
    text-align: right;

    img {
      width: 450px;
    }
  }
}

@import "../components/about/_responsive.scss";
