form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  .input-box {
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;

    input,
    textarea {
      border: 1px solid $grey;
      border-radius: 5px;
      padding: 1rem 1.2rem;
    }

    textarea {
      height: 150px;
    }

    label {
      font-size: 1.8rem;
      font-weight: 300;
    }
  }

  button {
    margin: 2rem auto 0 0;
  }
}
