//COLORS
$dark: #333;
$grey: #ccc;
$light-grey: #e6e6e6;

// MEDIAS
$xxs-phone: 500px;
$xs-phone: 576px;
$phone: 768px;
$tablet: 992px;
$computer: 1200px;
$xl-computer: 1400px;
$xxl-computer: 1600px;
